.board-title {
  color: #f5f4f3;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 50px;
}

.cards {
  margin: 15px 10px;
  padding: 10px 10px;
  background: rgba(46, 46, 48, 0.75);
  border-radius: 10px;
  border: 0.6px solid rgba(97, 96, 96, 0.75);
  color: #f5f4f3;
}

.cards:hover {
  border: 1px solid rgba(138, 138, 138, 0.75);
  background: rgba(57, 57, 60, 0.75);
  transition: 0.5s;
}

.cards:active {
  border: 1px solid rgba(189, 189, 189, 0.75);
}

.cards-container {
  display: flex;
    justify-content: center;
    padding: 30px;
  }
  
  .card-button {
  display: inline-flex;
  padding: 4px 15px;
    margin: 0px 10px;
    background: rgba(46, 46, 48, 0.75);
    border: 1px solid rgba(97, 96, 96, 0.75);
    border-radius: 5px;
    color: #f5f4f3
  }
  
  .card-button:hover {
    border: 1px solid rgba(138, 138, 138, 0.75);
    background: rgba(57, 57, 60, 0.75);
    transition: 0.3s;
  }
  
  .card-button:active {
    border: 1px solid rgba(189, 189, 189, 0.75);
  }
  
  .add-card-button {
    margin: 0px 30px 0px 50px;
    padding: 0px 50px;
    background: rgba(46, 46, 48, 0.75);
    border: 1px solid rgba(97, 96, 96, 0.75);
    border-radius: 5px;
    color: #f5f4f3
}

.add-card-button:hover {
  border: 1px solid rgba(138, 138, 138, 0.75);
  background: rgba(57, 57, 60, 0.75);
  transition: 0.3s;
}

.add-card-button:active {
  border: 1px solid rgba(189, 189, 189, 0.75);
}
.board-heading {
  text-align: center;
  margin: auto;
  color: #f5f4f3;
  font-family: 'Oswald', sans-serif;
}

.column {
  flex: 1;
}

.textarea {
  outline: none;
  background: none;
  font-family: Arial;
  font-size: 20px;
  font-weight: 600;
  color: white;
  resize: none;
  padding: 10;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 10px;
  &:hover, &:focus {
    border: 1px solid gray;
  }
  transition: 0.25s;
}