.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 50px;
  }
  
  .dashboard-welcome {
    color: #ececec;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
  }
  
  .dashboard-create-button {
    background: rgba(46, 46, 48, 0.75);
    padding: 7px 17px;
    margin: 0px 7px;
    border: 0.6px solid rgba(97, 96, 96, 0.75);
    border-radius: 5px;
    color: #f5f4f3
  }
  
  .dashboard-create-button:hover {
    background: rgba(57, 57, 60, 0.75);
    transition: 0.5s;
    border-color: #5d5d60bf;
    border: 1px solid rgba(138, 138, 138, 0.75);
  }
  
  .dashboard-create-button:active {
    border: 1px solid rgba(189, 189, 189, 0.75);
  }
  
  .dashboard-board-title {
    color: #f5f4f3;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

.dashboard-boards {
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    background: rgba(46, 46, 48, 0.75);
    margin: 20px 40px;
    border-radius: 10px;
    border: 0.6px solid rgba(97, 96, 96, 0.75);
  }
  
  .dashboard-boards:hover {
    border: 1px solid rgba(138, 138, 138, 0.75);
    background: rgba(57, 57, 60, 0.75);
    transition: 0.5s;
  }
  
  .dashboard-boards:active {
    border: 1px solid rgba(189, 189, 189, 0.75);
  }
  
  .board-element {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
  }
  
  .board-element-button {
    background: rgba(46, 46, 48, 0.75);
    padding: 2px 17px;
    margin: 0px 7px;
    border: 1px solid rgba(97, 96, 96, 0.75);
    border-radius: 5px;
    color: #f5f4f3
  }
  
  .board-element-button:hover {
    border: 1px solid rgba(138, 138, 138, 0.75);
    background: rgba(57, 57, 60, 0.75);
    transition: 0.5s;
  }
  
  .board-element-button:active {
    border: 1px solid rgba(189, 189, 189, 0.75);
}