body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background: #1e1f21;
  height: 100vh;
  min-width: 454px;
}

// rgba(66, 66, 68, 0.75)
nav {
  background: rgba(66, 66, 68, 0.75);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav button {
  background: rgba(46, 46, 48, 0.75);
  padding: 7px 17px;
  margin: 0px 7px;
  border: 0.6px solid rgba(97, 96, 96, 0.75);
  border-radius: 5px;
}

nav button:hover {
  background: rgba(57, 57, 60, 0.75);
  transition: 0.5s;
  border-color: #5d5d60bf;
  border: 1px solid rgba(138, 138, 138, 0.75);
}

nav button:active {
  border: 1px solid rgba(189, 189, 189, 0.75);
}

.link-text {
  color: #e0dede;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  color: rgb(44, 44, 44);
  text-align: center;
  padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  
  }
  
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .login-button {
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #6456dc;
    border-radius: 25px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
  .login-button:hover {
    border-color: #6456dc;
  
    transition: .5s;
  }

    .wrong-input-message {
      color: red
    }